        @use 'bootstrap';
        /* general rules */
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* common rules */
        
        img {
            width: 100%;
        }
        
        .card {
            .card-img-top {
                height: 200px;
            }
            .card-body {
                height: 350px;
            }
        }